

<ion-content>
  <ion-row>
    <img src="{{ CategoryImageUrl }}" style="height: 215px;"/>
    <span>
      <img  routerLink="/tabs/home" src="assets/imgs/new-single-cat-img.svg" class="backArrow" >
    </span>
    <span class="location-search-span">
      <img (click)="openRestaurantLocationPage()" class="home-header-location-search" src="assets/imgs/new-map-img.svg" style="height: 24px;">
    </span>
    
    <div class="header_title"><span class="stake">{{ itemName }}</span></div><!---->
    <div class="header_subtitle">{{ restaurantCount }} Restaurants</div><!---->
    <div class="header_subone">Find Amazing Resturants and book from your phone on khao aur bchao</div>
    <div class="header_button"><ion-button (click)="filtersPage()" color="light"  shape="round" fill="outline" style="text-transform: inherit;">  <img src="assets/imgs/filterIcon.png" style="width: 20px;">Filters</ion-button></div>
  </ion-row> 
  <ion-row  *ngIf="loaderShow" class="loader-gif-row">
    <ion-col text-center>
      <img class="loader-gif" src="assets/imgs/loader.gif">
    </ion-col>
  </ion-row>
  <!--<ion-card *ngFor="let singleCategoryDat of singleCategoryData" (click)="openRestaurantAsSingle(singleCategoryDat)">
    <img src="{{ coverImage }}{{ singleCategoryDat.restaurant_image }}" class="myImg"/>
    <div class="catsubtwo">
      <p class="white" style="font-size: 15px;">{{ singleCategoryDat.name }}</p>
      <p class="white">{{ singleCategoryDat.location }} 
        <span *ngFor="let distanceArr of distanceArr">
          <span *ngIf="distanceArr.restaurantId == singleCategoryDat.restaurants_id">
            ( <span>
                <img class="home-loc-icon-class" src="assets/imgs/home-loc-icon.png">
              </span> {{ distanceArr.distance | roundoff }}Km away )
          </span>
          
      </span>
      </p>
     
          <div class="oneLine">
          <p *ngIf="singleCategoryDat.rating_count == '5' || singleCategoryDat.rating_count > '5'" class="smallStars">
            <ion-icon ios="ios-star" md="md-star" class="red"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="red"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="red"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="red"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="red"></ion-icon>
          </p>
          <p *ngIf="singleCategoryDat.rating_count == '4'" class="smallStars">
            <ion-icon ios="ios-star" md="md-star" class="red"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="red"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="red"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="red"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="grey"></ion-icon>
          </p>
          <p *ngIf="singleCategoryDat.rating_count == '3'" class="smallStars">
            <ion-icon ios="ios-star" md="md-star" class="red"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="red"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="red"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="grey"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="grey"></ion-icon>
          </p>
          <p *ngIf="singleCategoryDat.rating_count == '2'" class="smallStars">
            <ion-icon ios="ios-star" md="md-star" class="red"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="red"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="grey"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="grey"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="grey"></ion-icon>
          </p>
          <p *ngIf="singleCategoryDat.rating_count == '1'" class="smallStars">
            <ion-icon ios="ios-star" md="md-star" class="red"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="grey"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="grey"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="grey"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="grey"></ion-icon>
          </p>
          <p *ngIf="singleCategoryDat.rating_count == '0'" class="smallStars">
            <ion-icon ios="ios-star" md="md-star" class="grey"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="grey"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="grey"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="grey"></ion-icon>
            <ion-icon ios="ios-star" md="md-star" class="grey"></ion-icon>
          </p>
          
          <span class="starReview">256 Reviews</span>
     </div>
       
    </div>
    <ion-row class="customSlider-new">
      <div *ngFor="let discount of discounts">
        <div *ngIf="singleCategoryDat.restaurants_id == discount.restaurant_id" class="sidetagone-new">
          <img src="assets/imgs/bg_discount.png" />
          <div class="myOverlay-new">
            <p *ngIf="discount.type == 'Day'" class="white-new txtTwo-new" style="margin-top: 10px;">{{ discount.start_time | stringbreak }}</p>
            <p *ngIf="discount.type == 'Item'" class="white-new txtTwo-new" style="margin-top: 10px;">{{ discount.end_date }}</p>
            <p class="white-new txtOne-new">-{{ discount.discount_rate }}%</p>
          </div>
        </div>
      </div>
    </ion-row>
  </ion-card>
-->
  <ng-container *ngFor="let singleCategoryDat of singleCategoryData">
    <ion-card *ngIf="singleCategoryDat.restaurant_image" (click)="openRestaurantAsSingle(singleCategoryDat)">
      <ion-card-header style="padding: 0;">
        <img style="height: 168px;" src="{{ coverImage }}{{ singleCategoryDat.restaurant_image }}">
        <div *ngIf="singleCategoryDat.featured == 'Yes'" style="position: absolute;
        top: 10px;
        background: #e0e0e0;
        color: #000;
        padding: 4px;
        width: 65px;">
          <span>{{ singleCategoryDat.featured }}</span>
        </div>

        <div style="position: absolute;
        top: 38px;
        background: #e0e0e0;
        color: #000;
        padding: 4px;
        width: 65px;">
          <span *ngIf="singleCategoryDat.rating_average" style="
          margin-right: 4px;">{{ singleCategoryDat.rating_average | ratingroundoff }}</span>
          <span *ngIf="!singleCategoryDat.rating_average" style="
          margin-right: 4px;">0.0</span>
          <img style="width: 15px;" src="assets/imgs/new-grey-star.svg">
        </div>
        <div style="position: absolute;
        top: 68px;
        background: #e0e0e0;
        color: #000;
        padding: 4px;
        width: 65px;">
          <span>new</span>
        </div>
        <ion-row *ngIf="singleCategoryDat.allow_discounts == 'Yes'" class="scrolling-wrapper-row">
          <ion-col style="position: absolute;bottom: 0;left: 0;padding-bottom: 0;">
            <div class="scrolling-wrapper">
              <ng-container *ngFor="let discount of discounts">
                <div *ngIf="singleCategoryDat.restaurants_id == discount.restaurant_id" class="card">
                  <img style="width: 60px;" src="assets/imgs/bg_discount.png" />
                  <div class="myOverlay-new">
                    <!--<p class="white-new txtTwo-new" style="margin-top: 10px;">22:30</p>
                    <p class="white-new txtOne-new">-20%</p>-->
                    <p *ngIf="discount.type == 'Day'" class="white-new txtTwo-new" style="margin-top: 5px;margin-left: -1px;">{{ discount.start_time | stringbreak }}</p>
                  <p *ngIf="discount.type == 'Item'" class="white-new txtTwo-new" style="margin-top: 9px;">{{ discount.end_date }}</p>
                  <p *ngIf="discount.type == 'Day'" class="white-new txtOne-new">-{{ discount.discount_rate }}%</p>
                  <p *ngIf="discount.type == 'Item'" class="white-new txtOne-new" style="margin-top: 3px;">-{{ discount.discount_rate }}%</p>
                  </div> 
                </div>
              </ng-container>
             
            </div>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content style="padding-right: 0;padding-bottom: 10px;">
        <ion-row style="padding-top: 0;">
          <ion-col style="text-align: left;padding-top: 0;">
            <h3 class="new-restaurant-name">{{ singleCategoryDat.name }}</h3> 
          </ion-col>
          <!-- <ion-col style="text-align: right;padding-top: 0;padding-right: 0;" size="2">
            <img src="assets/imgs/new-gift-img.svg">
          </ion-col> -->
        </ion-row>
        <ion-row>
          <ion-col style="text-align: left;padding-top: 0;" size="8">
            <h3 class="new-restaurant-address">{{ singleCategoryDat.location }}</h3> 
          </ion-col>
          <ion-col style="text-align: right;margin-right: 15px;padding-top: 0;">
            <ng-container *ngFor="let distanceArr of distanceArr">
              <span *ngIf="distanceArr.restaurantId == singleCategoryDat.restaurants_id && distanceArr.distance != 'NaN'">
                <h3>
                  <span>
                    <img style="width: 13px;" src="assets/imgs/new-location-img.svg">
                  </span>{{ distanceArr.distance | roundoff }}km
                </h3>
              </span>
            </ng-container> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="padding-top: 0;text-align: left;padding-bottom: 0;" size="8">
            <h3 *ngFor="let reservationCount of reservationCount" style="margin: 0;" class="new-reservations-count">
              <ng-container *ngIf="reservationCount.restaurant_id == singleCategoryDat.restaurants_id">
                {{ reservationCount.reservation_count }} reservations
              </ng-container>
            </h3>
          </ion-col>
          <ion-col style="padding-top: 0;" style="text-align: right;margin-right: 15px;display: flex;padding-top: 0;padding-bottom: 0;">
            <span style="margin-right: 2px;">
              <img style="width: 13px;" src="assets/imgs/new-red-dollar.svg">
            </span>
            <span style="margin-right: 2px;">
              <img style="width: 13px;" src="assets/imgs/new-red-dollar.svg">
            </span>
            <span style="margin-right: 2px;">
              <img style="width: 13px;" src="assets/imgs/new-white-dollar.svg">
            </span>
            <span style="margin-right: 2px;">
              <img style="width: 13px;" src="assets/imgs/new-white-dollar.svg">
            </span>
            <span style="margin-right: 2px;">
              <img style="width: 13px;" src="assets/imgs/new-white-dollar.svg">
            </span>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
